#main{
    display: grid;
}
.division1{
    display: flex;
}

.division2{
    display: flex;
}

.division3{
    display: flex;
}

p{
    padding-left: 30px;
    margin-top: 50px;
}
img{
    height: 200px;
    width: 400px;
    padding-bottom: 10px;
}