#main1{
    display: flex;
}
#main2{
    display: flex;
}
.divison4{
    display: flex;
}
form{
    background-color: aqua;
    margin: auto;
    width: 50%;
    padding: 20px;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-family: "Times New Roman";
}
button[type=submit]{
    background-color: #35c016;
    margin-left: 40px;
    height: 40px;
    width: 20%;
}
button[type=reset]{
    background-color: blue;
    margin-left: 100px;
    height: 40px;
    width: 20%;
}
input[type=text],[type=date]{
    margin-left: 50px;
    height: 30px;
    width: 50%;
    border-radius: 5px;
}
#assign{
     margin-left: 50px;
}
.division5{
     margin-left: 60px;
    margin-top: 15px;
}
#description{
     margin-left: 50px;
}
